extends homework-layout
include info

block main
  h3=homework.requirement.course.name
  h3 作业要求
  h4=homework.requirement.name
  p=homework.requirement.content
  if !ended
    +info("尚未到达截止日期")
  hr
  h4 提交内容
  p.homework-student="学生：" + homework.student.name
  p.homework-content=homework.content
  form(class='form-submit', action='/grade/'+homework._id, method='POST')
    .form-group
      label
        ="分数"
        if homework.grade
          input.form-control(type="number", name="grade" value=homework.grade)
        else
          input.form-control(type="number", name="grade")
    .form-group
      button(class='btn btn-lg btn-primary', type='submit') 提交