extends homework-layout

block main
  each course in courses
    .course
      h3=course.name
    .requirement
      each requirement in course.requirements
        hr
        h4=requirement.name
        if user.isTeacher
          p.pull-right
            a.requirement-change.btn.btn-info.btn-xs(href="/publish/"+requirement._id) 修改
        p="截止日期：" + dateFormat(requirement.deadline, 'yyyy-mm-dd')
        p=requirement.content

        if user.isTeacher
          table.table.table-striped
            each homework in requirement.homeworks
              tr
                td=homework.student.name
                td.text-right
                  a.btn.btn-info.btn-xs(href="/grade/"+homework._id) 批改
        else
          if requirement.homeworks.length === 0
            p.homework
              - var now = new Date()
              if requirement.deadline < now
                +info("已经截止提交")
              else
                a.btn.btn-info(href="/submit/new/?requirement="+requirement._id) 提交
          else
            each homework in requirement.homeworks
              p.homework
                - var now = new Date()
                if requirement.deadline < now
                  a.btn.btn-info(href="/submit/"+homework._id) 查看
                else
                  a.btn.btn-info(href="/submit/"+homework._id) 修改
