extends homework-layout
include info

block main
  h1.submit-title 提交作业
  if ended
    +info("已经截止，你提交的版本如下")
    if homework
      p=homework.content

      if homework.grade
        p="分数：" + homework.grade
      else
        p 尚未打分
    else
      p 你没有提交本次作业
  else
    h3=requirement.course.name
    h3 作业要求
    h4=requirement.name
    p=requirement.content

    hr
    h4 提交内容

    - var action = create ? 'new' : homework._id 
    form(class='form-submit', action='/submit/' + action, method='POST')
      .form-group
        if create
          input.hidden(name='requirement', value=requirement._id)
          textarea.form-control(name='content')
        else
          textarea.form-control(name='content')=homework.content

      .form-group
        button.btn.btn-primary(type='submit') 提交